:host {
  display: block;
  padding: 16px;
  display: grid;
  grid-template-columns: auto 250px;
  grid-gap: 32px;

  div {
    padding: 16px 6px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px 2px #23232350;
    border-radius: 3px;
  }

  button {
    color: white;
    background-color: #232323;
    margin-left: 8px;
    border-radius: 3px;
  }
}

@media (max-width: 720px) {
  :host {
    display: block;
  }
}
